@import url(https://fonts.googleapis.com/css?family=Josefin+Sans|Satisfy);

@media (max-width: 320px){

nav li{
   display: inline;
   font-size: 8px;
   margin-right: 2px;
 }

header, footer {
  width: 75%;
}

background-image{
  width:100%;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

body {
  font-size: 12px;
}

img {
  width: 100%;
  height: auto;
}

#wrapper {
  border: 0;
  max-width: 320px;
  margin: 0;
  padding: 0.5em;
}
}
