@media (max-width: 320px){

*{
  float:none;
  position: none;
}

body {
  font-family: sans-serif;
  font-size: 12px;
}
#wrapper {
  border: 0;
  max-width: 320px;
  margin: 0;
  padding: 1 em;
  }

nav li{
   display: inline;
   font-size: 8px;
   margin-right: 2px;
 }

header, footer {
  width: 75%;
}

background-image-size {
  width: 320px;
  height: auto;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

body, p {
  font-size: 12px;
}

img {
  width: 100%;
  height: auto;
}


}
