@media (max-device-width: 320px){

*{
  float:none;
  position: none;
}

body {
  font-family: sans-serif;
  font-size: 12px;
  background-size: 320px;
}

#wrapper {
  border: 0;
  max-width: 320px;
  margin: 0;
  padding: .5em;
  font-size: 125%;
  line-height: 1.5;
  }

nav li{
   display: inline;
   font-size: 8px;
   margin-right: 2px;
 }

h1 {
  font-size: 125%;
  line-height: 1.5;
}

h2 {
  font-size: 125%;
  line-height: 1.5;
}

h3 {
  font-size: 125%;
  line-height: 1.5;
}

h4 {
  font-size: 125%;
  line-height: 1.5;
}

body, p {
  font-size: 125%;
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
}

footer {
  display: none;
}

}
