@import url(https://fonts.googleapis.com/css?family=Josefin+Sans|Satisfy);

body {
  background-image: url("../img/runway.jpg");
}

h1 {
  font-family:'Satisfy', cursive;
  font-size: 72px;
  color: white;
}

p {
  font-family:'Josefin Sans', sans-serif;
  font-size: 36px;
  color: white;
}

a, a:visited, a:hover, a:active {
  color:white;
  text-decoration: none;
  position:relative;
  bottom: 50px;
  left: 100px;}
